<style>
h1{
text-align:center;
margin-top:2rem;
margin-bottom:2rem;
}
button{
  position:absolute;
  margin-left:2rem;
  bottom:1rem;

}
</style>

<h1>Posts</h1
 <%= render "shared/post" %>

<a href="posts/index">
<button type="button" class="btn btn-primary btn-lg">Create Post</button>
</a>
