<% @list_of_posts.each do |a_post| %>
<div class="container" style="margin-top:1rem; margin-bottom:1rem;">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="card">
        <img src="<%=a_post.photo%>"  class="img-responsive">
        <div class="card-body">
          <p class="card-text"
          style=" overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"
          > <%= a_post.description %></p>
        </div>

        <div class="card-body">
          <a href="/posts/<%= a_post.id %>" class="card-link">See details</a
        </div>
        <div class="card-footer text-muted">
          <%= time_ago_in_words(a_post.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
