<div class="container-fluid home_container">
<h1 class="display-2 text-center pt-5 h-header">Endorse. Connect. Recruit.</h1>
<%= image_tag "homepage_image.png", alt: "two hands being shaken", class:"img-fluid h-img"%>
</div>

<div class="container-fluid content_container mt-5">
   <div class="row r-content">
    <div class="col pt-5 fs-4 d-flex align-items-center justify-content-center">
   Discover top-endorsed talent, streamline hiring, and make confident decisions with our app connecting recruiters to trusted candidates. Unlock the power of connections and enhance your recruitment efforts like never before.
    </div>
    <div class="col">
     <%= image_tag "content_image.jpg", alt: "five people at a wooden table speacking with a notepad on the table", class:"img-fluid c-img"%>
    </div>
</div>
</div>

<div class="container-fluid h_w_container mt-5">
   <h3 class="text-center h3_h display-3">How it works</h3>
</div>
