/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@1,100&display=swap');
 *{
  padding:0;
  margin:0;
  box-sizing: border-box;
 }
 body{
  background-image: url("back.jpg");
 }
 h1, h2,h3,h4,h5,h6{
  font-family: Italiana;
}

 .home_container, .h_w_container{
 background-color:rgb(255, 255, 255) ;

 }
 .h-img{
  margin-top:-9rem;
 }
.h-header, .h3_h{
   color:rgb(17, 17, 16);
   font-family: Italiana;
}
.content_container{
  background-color: black;
  color: white;
  font-family: Roboto;

}
.contactus_container{
  background-color: black;
  color: white;
  font-family: Italiana;

}
.bttn{
  float: right;
  border-radius: 50%;
  background-color: white;
  color:black;
  padding:20px;
  text-decoration: none;
  font-size: 20px;

}
p{
  font-family: Roboto;
}
.bttnn{
 background-color:rgb(220, 125, 46);
}
.centered {
  display: flex;
  justify-content: center;
}

.pagination .page-link {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.pagination .page-item.active .page-link {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.create-post-btn {
  background-color: black;
  color: white;
  float: right;
}


@media screen and (max-width: 768px){
  .h-img{
    margin-top:0;
   }
   .r-content,.contactus_container,.h_w_container{
    display: flex;
    flex-direction: column;
  }
  .col {
    padding-bottom: 1.5rem;
  }
  .contact_left_side{
    display: none;
  }
  .bttn {
    float: none;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 12px;
  }
}


/* background-color: rgb(160, 180, 143); */
